<%= form_for(complaint) do |f| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="row">
  
 <div class="col-lg-6 col-md-6">
  <div class="control-group">
    <%= f.label :name, class: 'control-label' %><br>
    <div class="controls">
    <%= f.text_field :name, class: 'control-label' %>
  </div>
</div>
</div>

<br>

  <div class="col-lg-6 col-md-6">
  <div class="control-group">
    <%= f.label :section, class: 'control-label' %> <br>
    <div class="controls">

    
    <%= f.select(:section, options_for_select([["OACELL", "OACELL"],["TADA", "TADA"], ["MEDICALL", "MEDICALL"],["STORE-I", "STORE-I"],["STORE-II", "STORE-II"],["MISC", "MISC"],["SFD-I", "SFD-I"],["SFD-II", "SFD-II"],["PAY-I", "PAY-I"],["PAY-II", "PAY-II"],["PAY-III", "PAY-III"],["R-SECTION", "R-SECTION"],["IA CELL", "IA CELL"],["CAG", "CAG"],["SINGLE WINDOW", "SINGLE WINDOW"], ["NPS", "NPS"],["FUND CELL", "FUND CELL"], ["D-SECTION", "D-SECTION"]], :selected => f.object.section), :include_blank => true) %>

   
    

  </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6">
  <div class="control-group">
    <%= f.label :problem, class: 'control-label' %><br>
    <div class="controls">

    <%= f.text_field :problem, class: 'control-label' %>
  </div>
 </div>
 </div>

<% if can? :manage, User %>
<div class="col-lg-6 col-md-6">
  <div class="control-group">

    <%= f.label :status, class: 'control-label' %><br>
    <div class="controls">
     <%= f.select(:status, options_for_select(['Pending', 'Completed']))  %>
    
    </div>
  </div>
  

 </div>
<% end %>
 </div>
 <br>
<br>

<% if can? :manage, User %>
 <div class="field">
    <%= f.label :created_at %>
    <%= f.text_field :created_at, :class => 'datepicker' %>
  </div>
<% end %>
<!--
<% if can? :manage, User %>
 <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

 <% end %>
-->
 <div class="row">
  <div class="col-md-6 text-center">
   <%= f.submit %>
  </div>
  </div>

  

<% end %>



  

 
  
