<div class="border-form-div">
<p>
  <strong>Section:</strong>
  <%= @complaint.section %>
</p>

<p>
  <strong>Name:</strong>
  <%= @complaint.name %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @complaint.problem %>
</p>

<p>
  <strong>Status:</strong>
  <%= @complaint.status %>
</p>
 <% if can? :manage, User %>
<p>
  <strong>Created_Time:</strong>
  <%= @complaint.created_at %>
</p>
<% end %>
<!-- 
<p>
  <strong>User:</strong>
  <%= @complaint.user %>
</p>
-->
 <% if can? :manage, User %>
<%= link_to 'Edit', edit_complaint_path(@complaint), class: 'btn btn-min btn-default' %> |<% end %>
<%= link_to 'Back', complaints_path, class: 'btn btn-min btn-default' %>
</div>
